<!DOCTYPE html>
<html>
  <head>

    <link rel="icon" href=
      "https://ih1.redbubble.net/image.2196567126.9282/tst,small,507x507-pad,600x600,f8f8f8.jpg"
          type="image/x-icon">
    <title>My Bike Shop</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
